[Unit]
Description=GPIO Power Buttons (reboot/shutdown)
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/danielarmengolaltayo/Desktop/remote-toggle-module/server/scripts/buttons_power.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target