[Unit]
Description=GPIO switch controls toggle.service
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/danielarmengolaltayo/Desktop/remote-toggle-module/server/scripts/gpio_server_switch.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target