[Unit]
Description=Internet connectivity LED indicator (GPIO)

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/danielarmengolaltayo/Desktop/remote-toggle-module/server/scripts/internet_led.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target