[Unit]
Description=Server LED watcher (GPIO)
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/python3 /home/pi/Desktop/remote-toggle-module/server/scripts/server_led_watcher.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target