[Unit]
Description=Blink LED (BOARD 38) on server state change
# Desactiva límite de reinicios para permitir blinks rápidos
StartLimitIntervalSec=0

[Service]
Type=oneshot
User=pi
Group=pi
WorkingDirectory=/home/pi/Desktop/remote-toggle-module/server/scripts
ExecStart=/usr/bin/python3 /home/pi/Desktop/remote-toggle-module/server/scripts/server_put_blink.py

[Install]
WantedBy=multi-user.target
