[Unit]
Description=Blink LED (BOARD 38) on server state change
# No depende del servidor; lo dispara el .path cuando cambia state.json

[Service]
Type=oneshot
User=root
Group=root
Environment=PYTHONUNBUFFERED=1
ExecStart=/usr/bin/python3 /home/pi/Desktop/remote-toggle-module/server/scripts/server_put_blink.py
# Evita solapes si llegan varios eventos seguidos:
ExecStartPre=/bin/sleep 0.05
