[Unit]
Description=Toggle Server (Flask)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/Desktop/remote-toggle-module/server
ExecStart=/home/pi/Desktop/remote-toggle-module/server/scripts/run.sh
Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target