[Unit]
Description=Toggle Server (Flask)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=danielarmengolaltayo
Group=danielarmengolaltayo
WorkingDirectory=/home/danielarmengolaltayo/Desktop/remote-toggle-module/server
ExecStart=/home/danielarmengolaltayo/Desktop/remote-toggle-module/server/scripts/run.sh
Restart=on-failure
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target