[Unit]
Description=Cliente: runtime (botón + LED variable, REST polling)
After=network-online.target boot-led.service internet-led.service
Wants=network-online.target
ConditionPathExists=/run/boot-ready

[Service]
Type=simple
User=root
Group=root
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/Desktop/remote-toggle-module/client
ExecStart=/home/pi/Desktop/remote-toggle-module/client/.venv/bin/python /home/pi/Desktop/remote-toggle-module/client/scripts/client_runtime.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
