[Unit]
Description=Cliente: runtime WS/REST (botones + LEDs + sync)
After=network-online.target boot-led.service
Wants=network-online.target
ConditionPathExists=/run/boot-ready
StartLimitIntervalSec=0

[Service]
Type=simple
User=root
Group=root
Environment=PYTHONUNBUFFERED=1
WorkingDirectory=/home/pi/Desktop/remote-toggle-module/client
ExecStart=/home/pi/Desktop/remote-toggle-module/client/.venv/bin/python /home/pi/Desktop/remote-toggle-module/client/scripts/client_runtime.py
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
