# /home/pi/Desktop/remote-toggle-module/client/service/client-state-toggle.service
[Unit]
Description=Client: toggle LED+button (REST poll)
After=network-online.target
Wants=network-online.target

# Arrancar después de señal de boot listo
After=boot-ready.path
Wants=boot-ready.path

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/Desktop/remote-toggle-module/client/scripts/client_state_toggle.py
Restart=always
RestartSec=2
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
